<div style="margin: 30px; padding: 15px; border: 2px solid red;">
	<p><a href="#" class="js-open-popup" data-popup-id="popup-01">Open Popup 1</a></p>
	<p><a href="#" class="js-open-popup" data-popup-id="popup-02">Open Popup 2</a></p>
	<p><a href="#" class="js-open-popup" data-popup-id="popup-03" data-popup-youtube="https://www.youtube.com/watch?v=jiwuQ6UHMQg">Open Popup 3 (youtube)</a></p>
</div>

<div id="popup-01" class="popup js-popup">
	<div class="popup__container">
		<div class="popup__content">
			<button class="popup__close-button js-close-popup">Close 1</button>
			<h2>Popup 1</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet voluptatibus iusto eaque
				voluptate suscipit temporibus voluptatem voluptas cumque quibusdam perferendis mollitia
				nesciunt quos, id debitis, dolorum inventore illo autem maxime.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet voluptatibus iusto eaque
				voluptate suscipit temporibus voluptatem voluptas cumque quibusdam perferendis mollitia
				nesciunt quos, id debitis, dolorum inventore illo autem maxime.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet voluptatibus iusto eaque
				voluptate suscipit temporibus voluptatem voluptas cumque quibusdam perferendis mollitia
				nesciunt quos, id debitis, dolorum inventore illo autem maxime.
			</p>
		</div>
	</div>
</div>

<div id="popup-02" class="popup js-popup">
	<div class="popup__container">
		<div class="popup__content">
			<button class="popup__close-button js-close-popup">Close 2</button>
			<h2>Popup 2</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet voluptatibus iusto eaque
				voluptate suscipit temporibus voluptatem voluptas cumque quibusdam perferendis mollitia
				nesciunt quos, id debitis, dolorum inventore illo autem maxime.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet voluptatibus iusto eaque
				voluptate suscipit temporibus voluptatem voluptas cumque quibusdam perferendis mollitia
				nesciunt quos, id debitis, dolorum inventore illo autem maxime.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet voluptatibus iusto eaque
				voluptate suscipit temporibus voluptatem voluptas cumque quibusdam perferendis mollitia
				nesciunt quos, id debitis, dolorum inventore illo autem maxime.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet voluptatibus iusto eaque
				voluptate suscipit temporibus voluptatem voluptas cumque quibusdam perferendis mollitia
				nesciunt quos, id debitis, dolorum inventore illo autem maxime.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet voluptatibus iusto eaque
				voluptate suscipit temporibus voluptatem voluptas cumque quibusdam perferendis mollitia
				nesciunt quos, id debitis, dolorum inventore illo autem maxime.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet voluptatibus iusto eaque
				voluptate suscipit temporibus voluptatem voluptas cumque quibusdam perferendis mollitia
				nesciunt quos, id debitis, dolorum inventore illo autem maxime.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet voluptatibus iusto eaque
				voluptate suscipit temporibus voluptatem voluptas cumque quibusdam perferendis mollitia
				nesciunt quos, id debitis, dolorum inventore illo autem maxime.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet voluptatibus iusto eaque
				voluptate suscipit temporibus voluptatem voluptas cumque quibusdam perferendis mollitia
				nesciunt quos, id debitis, dolorum inventore illo autem maxime.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet voluptatibus iusto eaque
				voluptate suscipit temporibus voluptatem voluptas cumque quibusdam perferendis mollitia
				nesciunt quos, id debitis, dolorum inventore illo autem maxime.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet voluptatibus iusto eaque
				voluptate suscipit temporibus voluptatem voluptas cumque quibusdam perferendis mollitia
				nesciunt quos, id debitis, dolorum inventore illo autem maxime.
			</p>
		</div>
	</div>
</div>

<div id="popup-03" class="popup js-popup">
	<div class="popup__container">
		<div class="popup__content">
			<button class="js-close-popup">Close</button>
		</div>
	</div>
</div>