/*============================================================================
  Grid Breakpoints and Class Names
    - Do not change the variable names
    - Breakpoint pixel values are used in the window.theme.breakpoints object
==============================================================================*/
/*============================================================================
  Generate breakpoint-specific column widths and push classes
    - Default column widths: $grid-breakpoint-has-widths: ($small, $medium-up);
    - Default is no push classes
==============================================================================*/
/*================ Color Variables ================*/
/*================ Sizing Variables ================*/
/*================ Footer Variables ================*/
/*================ Z-Index ================*/
/*================ SVG ================*/
/*================ Drawers ================*/
/*================ Hero Slider ================*/
/*================ Typography ================*/
/*================ Gift Cards ================*/
/*================ Z-index ================*/
/*================ Product video ================*/
/*================ Image placeholder ================*/

:root {
    --default-transition-for-animation: all 0.5s ease;
    --max-width: 1440px;
}

/*
    FONTS
*/

@font-face {
    font-family: "Calibre-Medium";
    src: url("src/assets/Calibre-Medium.woff2") format("woff2"),
    url("src/assets/Calibre-BoldItalic.woff") format("woff");
}

@font-face {
    font-family: "Calibre-Regular";
    src: url("src/assets/Calibre-Regular.woff2") format("woff2"),
    url("src/assets/Calibre-Regular.woff") format("woff");
}

@font-face {
    font-family: "Calibre-Semibold";
    src: url("src/assets/Calibre-Semibold.woff2") format("woff2"),
    url("src/assets/Calibre-Semibold.woff") format("woff");
}

@font-face {
    font-family: "Calibre-Semibold-Italic";
    src: url("src/assets/Calibre-SemiboldItalic.woff2") format("woff2"),
    url("src/assets/Calibre-SemiboldItalic.woff") format("woff");
}

@font-face {
    font-family: "Calibre-Black-Italic";
    src: url("src/assets/Calibre-BlackItalic.woff2") format("woff2"),
    url("src/assets/Calibre-BlackItalic.woff") format("woff");
}
