/*
USE css option  font-display: fallback for all fonts
(https://developer.mozilla.org/ru/docs/Web/CSS/@font-face/font-display)


*** EXAMPLE ***
@font-face {
	font-family: 'Calibre';
	src: url('Calibre-RegularItalic.eot');
	src: url('Calibre-RegularItalic.eot?#iefix') format('embedded-opentype'),
	url('Calibre-RegularItalic.svg#Calibre-RegularItalic') format('svg'),
	url('Calibre-RegularItalic.ttf') format('truetype'),
	url('Calibre-RegularItalic.woff') format('woff'),
	url('Calibre-RegularItalic.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
	font-display: fallback;
}

 */